body {
    font-family: Arial;
    background: linear-gradient(to bottom,#74acdf 33%,white 33%,white 66%,#74acdf 66%);
    text-align: center;
}

.container {
    background: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.navbar a {
    margin: 10px;
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
}